body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(199, 44, 96);
    user-select: none;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, rgb(27, 25, 25) 0%, rgb(84, 7, 146) 30%, rgb(168, 30, 134) 70%, rgb(212, 204, 204) 100%);
    padding: 40px 60px;
}

h2{
    font-size: 3em;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: black;
    background-color: white;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;

}

.reset:focus{
    color: rgb(233, 7, 222);
    background-color: rgb(32, 31, 31);
}

.jogo{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(56, 55, 55);
    transform:rotateY(0deg);
    backface-visibility: hidden;
}

.item.cartaAberta{
    transform: rotateY(0deg);
}

.cartaAberta::after,
.parFeito::after{
    transform: rotateY(180deg);
}
